{
    "presets": [
        "react-app",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        "react-flow-props-to-prop-types",
        "@babel/plugin-proposal-optional-chaining",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}