.innovation-academy-editor {
  height: 275px !important;
  border: 1px solid #f1f1f1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}

.quill {
  color: #000000;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }
}
